.sexButtonChoosed {
  display: flex;
  background-color: inherit;
  cursor: pointer;
  border: none;
  color: #54adff;
  font-size: 16px;
  justify-content: center;
  flex-direction: row;
}

.plusIcon {
  width: 30px;
  height: 30px;
  margin-left: 42px;
  margin-top: 42px;
  stroke: #54adff;
}

@media screen and (min-width: 768px) {
  .plusIcon {
    width: 48px;
    height: 48px;
    margin-left: 68px;
    margin-top: 68px;
  }
}
