/* Current */
.textStatusCurrent {
  color: #54adff;
}

.textStatusCurrent::after {
  position: absolute;
  content: '';
  background-color: #54adff;
}

/* Done */
.textStatusDone {
  color: #00c3ad;
}

.textStatusDone::after {
  position: absolute;
  content: '';
  background-color: #00c3ad;
}
